<div class="row">
  <div class="col-md-12">
    <img src="{{recipe.imgPath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input class="form-control" [(ngModel)]="recipe.name" [disabled]="!allowEdit">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <input class="form-control" [(ngModel)]="recipe.description" [disabled]="!allowEdit">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
